@{
    ViewBag.Title = "Act! Hosting Providers";
}


<script type="text/javascript">
    $(document).ready(function () {
        $('.moreInfo').click(function () {
            $(this).next('.moreDets').slideToggle('2000');
            $(this).closest('.glyphicon').toggleClass('glyphicon-minus');
        });
    });
</script>

<div class="outer bg_blue">
    <div class="container">
        <h1 class="text-center">Hosting Providers</h1>
    </div>
</div>

<div id="partnerList">

    @*
            <div class="outer hp">
            <div class="container inner">
                <div class="row">
                    <div class="col-2"><img src="http://www.act.com/images/default-source/partner-logos/tandemhosting.jpg" /></div>
                    <div class="col-10 hpTitle">
                        <h2 class="black">Tandem Training and Consulting</h2>
                        <p>Sales: 866-710-4228 | Support: 866-710-4228</p>
                    </div>
                </div>
                <div class="row inner">
                    <ul>
                        <li>Act! Certified Consultants/ Act! Premier Trainer/ Act! Platinum Value Added Reseller</li>
                        <li>Certified QuoteWerks Consultant - Certified Swiftpage Consultant</li>
                        <li>Over 25 years combined Act! experience. 5 years hosting Act! experience</li>
                        <li>Home of the Act! Concierge - Free Training Webinars</li>
                    </ul>
                </div>
                <div class="row more">
                    <p class="moreInfo"><span class="glyphicon glyphicon-plus"></span> More Hosting Information</p>
                    <div class="moreDets">
                        <h3 class="black">Multiple Hosting Solutions:</h3>
                        <ul>
                            <li>Act! Sync, Act! For Web, Act! Corporate over Citrix (Thin Client)</li>
                            <li>Act! over Citrix bundles with Microsoft Office (even Outlook)</li>
                            <li>Level IV Data Center - Data Security - Nightly Backups</li>
                            <li>QuoteWerks and Special Applications Hosting Available</li>
                        </ul>

                    </div>
                </div>
                <div>
                    <a href="http://www.acttrainer.com/hosting/" target="_blank"><span class="button btnBlue">Learn More</span></a>
                </div>
            </div>
        </div>

        <div class="outer hp">
            <div class="container inner">
                <div class="row">
                    <div class="col-2"><img src="http://www.act.com/images/default-source/partner-logos/active-hosting.jpg" /></div>
                    <div class="col-10 hpTitle">
                        <h2 class="black">Active Hosting</h2>
                        <p>Sales: 888-228-4678 | Support: 888-228-4678</p>
                    </div>
                </div>
                <div class="row inner">
                    <p>Active Hosting combines affordable, Swiftpage certified hosting for the newest versions of Act! with the most safe and secure facilities and a proven track record of reliable Act! hosting. Charter members of the Act! Hosting Provider program and Act! Certified Consultants since 1997, we feature free database conversions, customizations, and data imports with absolutely no setup fees.</p>
                    <p>Friendly, one-to-one technical support for Act! users of all levels is our specialty. Whether you are new to Act! or upgrading from an older version, call us at 1-888-ACT-HOST (228-4678) for a hosting and license quote. Platinum level Act! resellers. International users welcome. </p>
                </div>
                <div class="row more">
                    <p class="moreInfo"><span class="glyphicon glyphicon-plus"></span> More Hosting Information</p>
                    <div class="moreDets">
                        <ul>
                            <li>The newest version of Act!</li>
                            <li>Free Act! Connect hosting with a paid subscription.</li>
                            <li>No setup fees!</li>
                            <li>No extra charge for Dual Access (Web + Desktop synchronization).</li>
                            <li>Nightly backups with 30-day, offsite storage. </li>
                            <li>Free support!</li>
                            <li>TIER 4, multi-carrier collocation facility.</li>
                            <li>No long term contracts. No minimum account size.</li>
                            <li>Private servers available.</li>
                        </ul>

                    </div>
                </div>
                <div>
                    <a href="http://www.active-hosting.com/" target="_blank"><span class="button btnBlue">Learn More</span></a>
                </div>
            </div>
        </div>

        <div class="outer hp">
            <div class="container inner">
                <div class="row">
                    <div class="col-2"><img src="http://www.act.com/images/default-source/partner-logos/tc_logo.gif" /></div>
                    <div class="col-10 hpTitle">
                        <h2 class="black">Tech Commandos Inc.</h2>
                        <p>Sales: 888-910-8324 (Tech) | Support: 888-910-8324 (Tech)</p>
                    </div>
                </div>
                <div class="row inner">
                    <ul>
                        <li>Unlimited U.S.  act! Support, SSL Encryption</li>
                        <li>HIPAA Compliance</li>
                        <li>Act! for Mac</li>
                        <li>No extra charge for Dual Access (Web + Desktop Synchronization)</li>
                        <li>Act! training and customization include with hosting</li>
                    </ul>
                </div>
                <div class="row more">
                    <p class="moreInfo"><span class="glyphicon glyphicon-plus"></span> More Hosting Information</p>
                    <div class="moreDets">
                        <p>Tech Commandos provides superior hosting solutions for Act! software. Our friendly staff is Act! Certified and is available to offer 24/7 support. We offer both online and offline connectivity to match the way you prefer to work with Act!. We love Act! and have integrated this effective CRM tool into thousands of businesses since 2001.</p>
                        <p>Tech Commandos offers several hosting plan options with features such as:</p>
                        <ul>
                            <li>Any number of users</li>
                            <li>No software investment</li>
                            <li>Unlimited technical support </li>
                            <li>No extra charge for Dual Access (Web + Desktop Synchronization)</li>
                            <li>Nightly backups – Level IV Data Center</li>
                            <li>No long-term contract</li>
                            <li>Act! training and customization</li>
                            <li>Free set up of Act! mobility for the iPhone, Blackberry, and Android phones</li>
                        </ul>

                    </div>
                </div>
                <div>
                    <a href="http://www.techcommandos.com/act-hosting-summary.html" target="_blank"><span class="button btnBlue">Learn More</span></a>
                </div>
            </div>
        </div>

        <div class="outer hp">
            <div class="container inner">
                <div class="row">
                    <div class="col-2"><img src="http://www.act.com/images/default-source/partner-logos/datalogic_logo.gif" /></div>
                    <div class="col-10 hpTitle">
                        <h2 class="black">DataLogic CRM, Inc.</h2>
                        <p>Sales: 866-271-3515 | Support: 866-271-3515</p>
                    </div>
                </div>
                <div class="row inner">
                    <p>Act! Hosted powered by DataLogic CRM is the complete Act! hosted solution! Celebrating 10 years of providing world class Act! hosted services to thousands of Act! customers worldwide! Our complete and proven turn-key program includes the five necessary elements to ensure your Act! hosted solution is a success – satisfaction guaranteed!</p>
                </div>
                <div class="row more">
                    <p class="moreInfo"><span class="glyphicon glyphicon-plus"></span> More Hosting Information</p>
                    <div class="moreDets">
                        <p>Enjoy the security and convenience of knowing your Act! database is professionally setup and securely running in our state-of-the-art SAS70/SOC2 compliant data center, monitored 24/7 by our dedicated network specialists.</p>
                        <p>Our team of highly experienced Act! Consultants is at your service to ensure your Act! hosted solution meets your specific business needs! No contract required.</p>
                    </div>
                </div>
                <div>
                    <a href="http://www.acthost.com/" target="_blank"><span class="button btnBlue">Learn More</span></a>
                </div>
            </div>
        </div>

        <div class="outer hp">
            <div class="container inner">
                <div class="row">
                    <div class="col-2"><img src="http://www.act.com/images/default-source/partner-logos/virtualroofhpp.png" /></div>
                    <div class="col-10 hpTitle">
                        <h2 class="black">VirtualRoof.com</h2>
                        <p>Sales: 866-932-2281 | Support: 866-796-9925</p>
                    </div>
                </div>
                <div class="row inner">
                    <ul>
                        <li>Full desktop hosting – even works with iPad/Android tablets</li>
                        <li>300+ desktop applications hosted including: Act!, Sage 50, 100 & 300, QuickBooks Pro, Premier & Ent., MS Office, etc&hellip;</li>
                        <li>10+ Act! add-ons: Sage 50/QB links, Topline Dash, CallOnCRM, and many more</li>
                        <li>40+ years combined Act! experience; 11+ years hosting Act!</li>
                    </ul>
                </div>
                <div class="row more">
                    <p class="moreInfo"><span class="glyphicon glyphicon-plus"></span> More Hosting Information</p>
                    <div class="moreDets">
                        <h3 class="black">More Hosting Features</h3>
                        <ul>
                            <li>Act! Certified Consultants since 1995</li>
                            <li>Month-to-month contract</li>
                            <li>Class IV data centers in U.S. and Canada (for Canadian customers)</li>
                            <li>Nightly off-site backups with 30-day archive</li>
                            <li>Private servers available for as few as 3 users</li>
                            <li>Microsoft Exchange hosting</li>
                            <li>iPad and Android access to all applications (<a href="https://youtu.be/4JV-BcUG0cc" target="_blank">watch youtube video</a>)</li>
                            <li>Industry-specific solutions (Investment, Insurance, and other custom solutions).</li>
                            <li>Dashboard reporting</li>
                            <li>No minimum number of users</li>
                        </ul>
                        <h3 class="black">Includes Training, Consulting, and Support</h3>
                        <ul>
                            <li>Live weekly webinars (<a href="http://www.swiftpage6.com/ACTRemote.dcarr/SurveyProductivityWebinars/Survey.aspx" target="_blank">see this month's lineup</a>), online videos, private one-on-one training</li>
                            <li>Support for every application we host</li>
                            <li>Database conversion is included for most databases</li>
                            <li>Includes marketing/sales implementation services</li>
                            <li>Includes productivity strategies</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <a href="http://www.virtualroof.com/" target="_blank"><span class="button btnBlue">Learn More</span></a>
                </div>
            </div>
        </div>

        <div class="outer hp">
            <div class="container inner">
                <div class="row">
                    <div class="col-2"><img src="http://www.act.com/images/default-source/partner-logos/rtg_blue_final_broken.jpg" /></div>
                    <div class="col-10 hpTitle">
                        <h2 class="black">Remote Tech Group LLC</h2>
                        <p>Sales: 877-932-2281 | Support: 877-932-2281 option 1</p>
                    </div>
                </div>
                <div class="row inner">
                    <p>Remote Tech Group specializes in providing superior service and support to small and mid-sized businesses. We offer both online and offline connectivity to match the way each of your users works, individually. You also get MaxControl, the powerful control panel interface that other hosting companies can't provide. With MaxControl, you control your database on our servers and avoid those hidden "consulting fees", whenever you need to make changes to your system. It's DIY all the way&hellip;</p>
                </div>
                <div class="row more">
                    <p class="moreInfo"><span class="glyphicon glyphicon-plus"></span> More Hosting Information</p>
                    <div class="moreDets">
                        <ul>
                            <li>Free Hour of Quickstart Training</li>
                            <li>No long term contracts</li>
                            <li>No monthly charge for your MaxControl Account</li>
                            <li>Nightly Backups</li>
                            <li>Nightly Maintenance (Compress/Reindex)</li>
                            <li>24 Hour Support</li>
                            <li>MAC Support Specialists </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <a href="http://www.rtgroup.com/" target="_blank"><span class="button btnBlue">Learn More</span></a>
                </div>
            </div>
        </div>

        <div class="outer hp">
            <div class="container inner">
                <div class="row">
                    <div class="col-2"><img src="http://www.act.com/images/default-source/partner-logos/topline_results_logo.jpg" /></div>
                    <div class="col-10 hpTitle">
                        <h2 class="black">TopLine Results</h2>
                        <p>Sales: 800-880-1960 | Support: 800-880-1960 x106</p>
                    </div>
                </div>
                <div class="row inner">
                    <p>TopLine Results delivers fast, reliable and affordable Act! hosting solutions tailored to your business. With amazingly affordable Act! hosting options - including plans with no software investment costs - we have a plan to meet every company's budget and wish list! With the security and flexibility of an SAS 70 certified datacenter, TopLine hosting takes the worry and stress out of your Act! system, so you can concentrate on increasing your sales, managing your customers and growing your business!</p>
                </div>
                <div class="row more">
                    <p class="moreInfo"><span class="glyphicon glyphicon-plus"></span> More Hosting Information</p>
                    <div class="moreDets">
                        <p>TopLine Results offers several unique hosting plans with options such as:</p>
                        <ul>
                            <li>No software investment costs</li>
                            <li>Industry specific solutions – finance, manufacturing and more!</li>
                            <li>Automated email notifications</li>
                            <li>Dashboard reporting</li>
                            <li>Training videos</li>
                        </ul>
                        <p>TopLine Results is the only Act! partner to be recognized with the Sage President's Circle status for ten consecutive years. Experience our award-winning service for yourself!</p>
                    </div>
                </div>
                <div>
                    <a href="http://www.toplineresults.com/services/hosting.aspx" target="_blank"><span class="button btnBlue">Learn More</span></a>
                </div>
            </div>
        </div>

        <div class="outer hp">
            <div class="container inner">
                <div class="row">
                    <div class="col-2"><img src="http://www.act.com/images/default-source/partner-logos/keystrokehpp.gif" /></div>
                    <div class="col-10 hpTitle">
                        <h2 class="black">Keystroke Quality Computing Inc.</h2>
                        <p>Sales: 800-857-0558 x301 | Support: 800-857-0558 x310</p>
                    </div>
                </div>
                <div class="row inner">
                    <ul>
                        <li>Exclusive Canadian Act! Hosting Provider</li>
                        <li>#1 Act! Reseller in the World</li>
                        <li>Flat Rate & Per-seat Hosting Rates Available</li>
                        <li>50% off Hand Held Contact subscription for all Hosting Customers</li>
                    </ul>
                </div>
                <div class="row more">
                    <p class="moreInfo"><span class="glyphicon glyphicon-plus"></span> More Hosting Information</p>
                    <div class="moreDets">
                        <p>Enjoy Act! "Unleashed" with database hosting from Keystroke Quality Computing Inc.</p>
                        <p>Keystroke offers three tiers of service to support all types of CRM needs and provide the most flexibility and greatest value to our hosting clients.</p>
                        <p>We offer FLAT RATE pricing for Act! hosting at different levels, including our 'Hybrid' package focusing on 3-9 users, 10-19 users and 20-29 users. It's the best value in the business!</p>
                        <h3 class="black">What do our services include?</h3>
                        <ul>
                            <li>Synchronization, web publishing, or our popular "Hybrid" service that includes both options</li>
                            <li>No limits on data storage</li>
                            <li>Free remote databases cut and delivered as needed throughout your subscription period</li>
                            <li>Free Handheld Contact Hosting</li>
                            <li>Nightly backups and maintenance on your database from our Tier III data center located five minutes from our head office</li>
                            <li>Access your data via browser, synchronization or any HTML5 enabled device</li>
                            <li>Our team of Act! Certified Consultants and Premier Trainers available to support you and your business from 8AM-8PM EST Monday-Friday</li>
                            <li>No minimum or maximum number of users</li>
                            <li>Short Term contracts available</li>
                        </ul>
                        <p>TopLine Results is the only Act! partner to be recognized with the Sage President's Circle status for ten consecutive years. Experience our award-winning service for yourself!</p>
                    </div>
                </div>
                <div>
                    <a href="http://keystroke.ca/default.asp?pID=314" target="_blank"><span class="button btnBlue">Learn More</span></a>
                </div>
            </div>
        </div>

        <div class="outer hp">
            <div class="container inner">
                <div class="row">
                    <div class="col-2"><img src="http://www.act.com/images/default-source/partner-logos/trilogy.jpg" /></div>
                    <div class="col-10 hpTitle">
                        <h2 class="black">TrilogyCRM</h2>
                        <p>Sales: 866-303-0276 | Support: 866-303-0276 option 1</p>
                    </div>
                </div>
                <div class="row inner">
                    <p>Trilogy stands out by providing expert hosting, product expertise and business knowledge. Whether you need Act! Premium for Web, Internet Sync or our Fusion Hosting, we have a Hosting solution for you. Our hosting service is built on speed, reliability, and performance. TrilogyCRM – Where people, process and software come together.™</p>
                </div>
                <div>
                    <a href="http://trilogycrm.com/" target="_blank"><span class="button btnBlue">Learn More</span></a>
                </div>
            </div>
        </div>

        <div class="outer hp">
            <div class="container inner">
                <div class="row">
                    <div class="col-2"><img src="http://www.act.com/images/default-source/partner-logos/dr1host.jpg" /></div>
                    <div class="col-10 hpTitle">
                        <h2 class="black">DesignR1</h2>
                        <p>Sales: 877-755-9029 | Support: 877-755-9029</p>
                    </div>
                </div>
                <div class="row inner">
                    <p>DesignR1 is the only international Platinum Sage Business Partner. As Act! specialists, DesignR1 offers Act! Web/Sync Hosting at our tier-4 facilities. With massive redundancy and the latest servers, DesignR1 provides robust security and back-up. Couple that with our AdministratoR1 for Web portal we offer clients convenience, customer care and value.</p>
                </div>
                <div>
                    <a href="http://www.designr1.com/" target="_blank"><span class="button btnBlue">Learn More</span></a>
                </div>
            </div>
        </div>
    *@

</div>


<script src="~/Scripts/HostingProviders.js"></script>