@{
    ViewBag.Title = "Act! Hosting Providers";
}


<script type="text/javascript">
    $(document).ready(function () {
        $('.moreInfo').click(function () {
            $(this).next('.moreDets').slideToggle('2000');
            $(this).closest('.glyphicon').toggleClass('glyphicon-minus');
        });
    });
</script>

<section class="bg_blue">
    <div class="container">
        <h1 class="text-center">Hosting Providers</h1>
    </div>
</section>

<section id="partnerList" class="bg_white">

</section>


<script src="~/Scripts/HostingProviders.js"></script>