@{
    ViewBag.Title = "Act! Partners";
}

<div class="outer bg_blue">
    <div class="container">
        <h1 class="text-center">Act! Partners</h1>
        <p class="text-center" style="max-width:800px;margin:1em auto;">
            From initial set-up and customization to integration and training, there is no better resource than our
            worldwide network of consultants. They have the expertise and experience to get you up and running with
            Act! quickly, effectively and smoothly. Don’t wait, connect with a partner today!
        </p>
    </div>
</div>

<div class="outer bg_white">
    <div class="inner container">
        <h2 class="text-center black" style="margin:1em 0;">Find an Act! Certified Consultant</h2>
        <div class="row">
            <div class="col-4 typeDesc">
                <h3 class="text-center">Act! Certified Consultants</h3>
                <p class="text-center" style="height:160px;">
                    All of our certified consultants are highly-trained
                    professionals who can assist you with setting up
                    Act! to meet the specific needs of your business.
                </p>
                <p class="text-center"><a href="/partners?CountryID=1"><span class="button btnBlue">Search ACCs</span></a></p>
            </div>
            <div class="col-4 typeDesc">
                <h3 class="text-center">Select Certified Consultants</h3>
                <p class="text-center" style="height:160px;">
                    Our Select partners focus exclusively on the Act!
                    portfolio of products and services. Select Certified
                    Consultants are the foremost experts in all things
                    Act! and tailoring it to custom fit your business.
                </p>
                <p class="text-center"><a href="/partners?Select=1"><span class="button btnBlue">View Select Consultants</span></a></p>
            </div>
            <div class="col-4 typeDesc">
                <h3 class="text-center">Premier Trainers</h3>
                <p class="text-center" style="height:160px;">
                    Premier Trainers undergo specialized training and
                    are uniquely qualified individuals to deliver custom
                    training services on site or in a dedicated facility.
                </p>
                <p class="text-center"><a href="/partners?PremierTrainer=1"><span class="button btnBlue">View Premier Trainers</span></a></p>
            </div>
        </div>
    </div>
</div>

<div class="outer bg_green">
    <div class="row container">
        <div class="col-4"><img src="~/Content/img/home-img1.jpg" style="height:100%;" /></div>
        <div class="col-8 inner">
            <div class="row">
                <div class="col-1 lgQuote" style="margin:0 0;">&ldquo;</div>
                <div class="col-11" style="padding-top:24px;">
                    <p style="font-size:.9em; line-height:1.3em;margin:0 0;">We run our business on a highly customized Act! database.  Our Act! Certified Consultant has been an integral part of not only the customization, but keeping things running smoothly.  From Act! licenses, add-ons, to installs and training, we rely on our ACC to be our one-stop Act! resource</p>
                </div>
            </div>
            <p class="byline">
                Holly Bentley<br />
                Clean & Polish Building Solutions, Inc.
            </p>
        </div>
    </div>
</div>

<div class="outer bg_white inner">
    <div class="row container inner">
        <div class="col-8 inner">
            <h3>Find a Hosting Provider</h3>
            <p>
                Act! Hosting Providers eliminate the burden of deploying and administering Act! on your network
                by your staff. Reduce your hardware and IT costs with a hosting provider all while being
                maintained and backed up at a secure off-site location. Each hosting provider undergoes a
                thorough application process and offers dedicated hosting facilities and qualified consulting firms
                who have met specific requirements to help ensure they are qualified to provide what you need.*
            </p>
            <p><a href="/hostingproviders"><span class="button btnDefault">Find a Provider</span></a></p>
        </div>
        <div class="col-4"><img src="~/Content/img/home-serverstack.png" /></div>
    </div>
    <div class="container" style="padding:0 48px;">
        <p class="smalltext">*Act! Hosting Providers are third-party vendors. Swiftpage and its aliates are in no way liable or responsible for claims made related to the products or services provided by third-party vendors.</p>
    </div>
</div>

<div class="outer bg_steel inner">
    <div class="container inner">
        <h2 class="text-center" style="margin:1em 0;">Join the Act! Partner Network</h2>
        <div class="row">
            <div class="col-4 inner" style="border-right:#FFF 1px solid;">
                <img src="~/Content/img/ico-be-certified.png" />
                <h3 class="text-center" style="margin:1em 0; height:60px;">
                    Become an Act!
                    <span class="nobr">Certied Consultant</span>
                </h3>
                <p class="text-center" style="height:150px;">
                    Build a business around Act! or add it
                    to your already successful consulting
                    practice by becoming an authorized
                    partner to sell, install, and support Act!
                    in North America.
                </p>
                <p class="text-center"><a href="/BecomeAnAcc" class="button btnWhite">Learn More</a></p>
            </div>
            <div class="col-4 inner">
                <img src="~/Content/img/ico-join-dev.png" />
                <h3 class="text-center" style="margin:1em 0; height:60px;">
                    Join our Development
                    <span class="nobr">Partner Program</span>
</h3>
                <p class="text-center" style="height:150px;">
                    The Act! Development Partner
                    Program oers you an exciting
                    opportunity to build and market your
                    Act! SDK developed products and
                    solutions directly to Act! users.
                </p>
                <p class="text-center"><a href="/DevelopmentPartnerProgram" class="button btnWhite">Learn More</a></p>
            </div>
            <div class="col-4 inner" style="border-left:#FFF 1px solid;">
                <img src="~/Content/img/ico-apply-aff.png" />
                <h3 class="text-center" style="margin:1em 0; height:60px;">
                    Apply for our Affiliate
                    <span class="nobr">Partner Program</span>
                </h3>
                <p class="text-center" style="height:150px;">
                    The Act! Affiliate Partner Program is a
                    great way for you to earn extra
                    revenue. This program is free to join
                    and oers unlimited earning potential
                    with recurring lifetime commissions.
                </p>
                <p class="text-center"><a href="/AffiliateProgram" class="button btnWhite">Learn More</a></p>
            </div>
        </div>
    </div>
</div>

<div class="outer bg_blue">
    <div class="container" style="padding:48px 0;">
        <h3 class="text-center">Act! Distributors</h3>
        <p class="text-center" style="max-width:800px;margin:.5em auto;">
            Interested in reselling Act!? If you are a value-added reseller that holds a state business
            license, you can purchase Act! through distributors in the US and Canada.
        </p>
        <p class="text-center"><a href="/Distributors" class="button btnWhite">Learn More</a></p>
    </div>
</div>