@{
    ViewBag.Title = "Act! Partners";
}

<div class="outer bg_blue">
    <div class="container">
        <h1 class="text-center">Act! Partners</h1>
        <p class="text-center">
            From initial set-up and customization to maintenance and support, there is no better resource than our
            worldwide network of consultants. They have the expertise and experience to get you up and running with
            Act! quickly, effectively and smoothly. Don’t wait, connect with a partner today!
        </p>
    </div>
</div>

<div class="ouer bg_white">
    <div class="inner container">
        <h2 class="text-center">Find an Act! Certified Consultant</h2>
        <div class="row">
            <div class="col-4">
                <h3 class="text-center">Act! Certified Consultants</h3>
                <p>
                    All of our certified consultants are highly-trained
                    professionals who can assist you with setting up
                    Act! to meet the specific needs of your business.
                </p>
                <p class="text-center"><a href="/partners"><span class="button btnBlue">Search ACCs</span></a></p>
            </div>
            <div class="col-4">
                <h3 class="text-center">Select Certified Consultants</h3>
                <p>
                    Our Select partners focus exclusively on the Act!
                    portfolio of products and services. Select Certified
                    Consultants are the foremost experts in all things
                    Act! and tailoring it to custom fit your business.
                </p>
                <p class="text-center"><a href="/partners"><span class="button btnBlue">Search Selects</span></a></p>
            </div>
            <div class="col-4">
                <h3 class="text-center">Premier Trainers</h3>
                <p>
                    Premier Trainers undergo specialized training and
                    are uniquely qualified individuals to deliver custom
                    training services on site or in a dedicated facility.
                </p>
                <p class="text-center"><a href="/partners"><span class="button btnBlue">Search Trainers</span></a></p>
            </div>
        </div>
    </div>
</div>

<div class="outer bg_lightgreen">
    <div class="row container">
        <div class="col-4"><img src="" /></div>
        <div class="col-8 inner">
            <p>
                <span class="lgQuote">&ldquo;</span> Efficiently unleash cross-media information without
                cross-media value. Quickly maximize deliverables for
                real-time schemas. Dramatically maintain
                clicks-and-mortar without functional solutions.
            </p>
            <p class="byline">
                Debora Boyle<br />
                Platinum CRM Consulting
            </p>
        </div>
    </div>
</div>

<div class="outer bg_white">
    <div class="row container">
        <div class="col-8 inner">
            <h3>Find a Hosting Provider</h3>
            <p>
                Act! Hosting Providers eliminate the burden of deploying and administering Act! on your network
                by your staff. Reduce your hardware and IT costs with a hosting provider all while being
                maintained and backed up at a secure off-site location. Each hosting provider undergoes a
                thorough application process and offers dedicated hosting facilities and qualified consulting firms
                who have met specific requirements to help ensure they are qualified to provide what you need.*
            </p>
            <p><a href="/partners"><span class="button btnDefault">Find a Provider</span></a></p>
            <p class="smalltext">*Act! Hosting Providers are third-party vendors. Swiftpage and its aliates are in no way liable or responsible for claims made related to the products or services provided by third-party vendors.</p>
        </div>
        <div class="col-4 inner"><img src="" /></div>
    </div>
</div>

<div class="outer bg_dark-grey">
    <div class="container">
    <h2>Join the Act! Partner Network</h2>
    <div class="row">
        <div class="col-4">
            <img />
            <h4>Become an Act!
Certied Consultant</h4>
            <p>Build a business around Act! or add it
to your already successful consulting
practice by becoming an authorized
partner to sell, install, and support Act!
in North America.</p>
            <p class="text-center"><span class="button btnWhite">Learn More</span></p>
        </div>
        <div class="col-4">
            <img />
            <h4>Join our Development
Partner Program</h4>
            <p>The Act! Development Partner
Program oers you an exciting
opportunity to build and market your
Act! SDK developed products and
solutions directly to Act! users.</p>
            <p class="text-center"><span class="button btnWhite">Learn More</span></p>
        </div>
        <div class="col-4">
            <img />
            <h4>Apply for our Aliate
Partner Program</h4>
            <p>The Act! Aliate Partner Program is a
great way for you to earn extra
revenue. This program is free to join
and oers unlimited earning potential
with recurring lifetime commissions.</p>
            <p class="text-center"><span class="button btnWhite">Learn More</span></p>
        </div>
    </div>
    </div>
</div>

<div class="outer bg_blue">
    <div class="container">
        <h4 class="text-center">Act! Distributors</h4>
        <p>Interested in reselling Act!? If you are a value-added reseller that holds a state business
license, you can purchase Act! through distributors in the US and Canada.</p>
        <p class="text-center"><span class="button btnWhite">Learn More</span></p>
    </div>
</div>