@{
    ViewBag.Title = "Act! Distributors";
}

<div class="outer bg_blue">
    <div class="container">
        <h1 class="text-center">Distributors</h1>
    </div>
</div>

<div class="outer distributors">
    <div class="container inner">
        <div class="row vertical-sep">
            <div class="col-5">
                <h2>U.S., Canada, and Latin America Distributors:</h2>
                <p><a href="" target="_blank">Ingram Micro</a></p>
                <p><a href="" target="_blank">Lifeboat Distribution</a></p>
                <p><a href="" target="_blank">Navarre (Retail/E-tail)</a></p>
                <p><a href="" target="_blank">Synnex</a></p>
                <p class="smalltext"></p>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <h2>Eastern and Western European Distributors:</h2>
                <p><a href="" target="_blank">ALSO Europe</a></p>
                <p><a href="" target="_blank">Connect Distribution</a></p>
            </div>
        </div>
    </div>
</div>

<div class="outer bg_dark-grey">
    <div class="container inner">
        <p class="text-center">Want to learn more about becoming a distributor? Please contact us at <a href="mailto:channelsales@swiftpage.com">channelsales@swiftpage.com</a>.</p>
    </div>
</div>

