<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Act! Partners</title>
    @Styles.Render("~/Content/css")
    <script src="http://www.act.com/js/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,600,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/glyphicons.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/grid.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/standard.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/footer.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/header.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/partners.css" type="text/css" rel="stylesheet" />
    <link rel="icon"
          type="image/x-icon"
          href="~/favicon.ico?v=1">

</head>
<body>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-KW52GZ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KW52GZ');</script>
    <!-- End Google Tag Manager -->
    <!-- HEADER -->
    <header>
        <div class="utility">
            <div class="container">
                <!-- logo -->
                <div class="brand">
                    <a href="http://act.com" class="logo"><img src="http://www.act.com/images/default-source/default-album/act-logo-circle" alt="Act!" /></a>
                </div>
                <!-- cta -->
                <div class="trial">
                    <a href="https://buy.act.com/en-US/trial/product/ActPremium/plan/Month" target="_blank" class="button button_white">Free trial</a>
                </div>
                <!-- phone -->
                <div class="phone">
                    <a href="tel:866-873-2006">866-873-2006</a>
                </div>
                <!-- regions -->
                <div class="language">
                    <div class="intl">
                        <span class="glyphicon glyphicon-globe"></span>
                    </div>
                    <ul class="regions">
                        <li class="mobile"><a href="https://buy.act.com/en-US/trial/product/ActPremium/plan/Month">Free trial</a></li>
                        <li><a href="http://act.com/en-uk/">International English</a></li>
                        <li><a href="http://act.com/au/">Australia/New Zealand</a></li>
                        <li><a href="http://act.com/de-de/">Deutsch</a></li>
                        <li><a href="http://act.com/fr-fr/">Fran&ccedil;ais</a></li>
                        <li><a href="http://act.com/fr-ca/">Fran&ccedil;ais Canada</a></li>
                        <li><a href="http://act.com/nl-nl/">Nederlands</a></li>
                        <li><a href="http://act.com/pl-pl/">Polski</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navToggle">
            <div class="hamburger">
                <span class="menubar"></span>
                <span class="menubar"></span>
                <span class="menubar"></span>
            </div>
        </div>
        <nav>
            <ul class="container">
                <span class="dropdown">
                    <li>
                        <a href="http://act.com/why-act">Why Act!</a>
                        <ul class="child">
                            <li><a href="http://act.com/why-act/get-organized">Get Organized</a></li>
                            <li><a href="http://act.com/why-act/know-my-customers">Know My Customers</a></li>
                            <li><a href="http://act.com/why-act/market-my-business">Market My Business</a></li>
                            <li><a href="http://act.com/why-act/drive-sales">Drive Sales</a></li>
                            <li><a href="http://act.com/why-act/understand-my-business">Understand My Business</a></li>
                            <li><a href="http://act.com/why-act/customer-success">Customer Successes</a></li>
                        </ul>
                    </li>
                </span>
                <span class="dropdown">
                    <li>
                        <a href="http://act.com/products">Products</a>
                        <ul class="child">
                            <li><a href="http://act.com/products">Act! Premium</a></li>
                            <li><a href="http://act.com/products/act-pro">Act! Pro</a></li>
                            <li><a href="http://act.com/products/act-emarketing">Act! emarketing</a></li>
                            <li><a href="http://act.com/products/act-essentials">Act! Essentials</a></li>
                            <li><a href="http://act.com/products/whats-new">What&rsquo;s New</a></li>
                        </ul>
                    </li>
                </span>
                <li><a href="http://act.com/pricing">Pricing</a></li>
                <span class="dropdown">
                    <li>
                        <a href="http://act.com/resources">Customer Resources</a>
                        <ul class="child">
                            <li><a href="http://act.com/resources">Act! Premium Resources</a></li>
                            <li><a href="http://act.com/resources/act-emarketing-getting-started">Act! emarketing Resources</a></li>
                            <li><a href="https://actcloud1.zendesk.com/hc/en-us" target="_blank">Act! Essentials Resources</a></li>
                            <li><a href="http://act.com/resources/getting-started">Act! Premium Getting Started</a></li>
                            <li><a href="http://developer.act.com">Act! API Resources</a></li>
                        </ul>
                    </li>
                </span>
                <span class="dropdown">
                    <li>
                        <a href="/">Partners</a>
                        <ul class="child">
                            <li><a href="/search?CountryID=1">Find an Act! Certified Consultant</a></li>
                            <li><a href="/hostingproviders">Hosting Providers</a></li>
                            <li><a href="/distributors">Distributors</a></li>
                            <li><a href="/becomeanacc">Become an Act! Certified Consultant</a></li>
                            <li><a href="/affiliateprogram">Affiliate Partner Program</a></li>
                        </ul>
                    </li>
                </span>
                <li><a href="http://act.com/act-blog">Blog</a></li>
                <span class="dropdown">
                    <li>
                        <a href="http://act.com/about">About</a>
                        <ul class="child">
                            <li><a href="http://act.com/about/leadership">Leadership</a></li>
                            <li><a href="http://act.com/press-releases">Press</a></li>
                            <li><a href="http://swiftpage.com/en-us/about/careers" target="_blank">Careers</a></li>
                            <li><a href="http://swiftpage.com/privacy-policy" target="_blank">Privacy Policy</a></li>
                        </ul>
                    </li>
                </span>
            </ul>
        </nav>
    </header>

    @RenderBody()

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        <div class="col-4">
                            <h5>Company</h5>
                            <ul>
                                <li><a href="http://swiftpage.com/privacy-policy" target="_blank">Privacy</a></li>
                                <li><a href="http://swiftpage.com/en-us/about/careers" target="_blank">Careers</a></li>
                                <li><a href="http://act.com/about/leadership">Leadership</a></li>
                                <li><a href="http://www.swiftpage.com" target="_blank">Swiftpage</a></li>
                                <li><a href="http://act.com/about">Contact us</a></li>
                                <li><a href="http://act.com/press-releases">Press Releases</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h5>Act! Premium</h5>
                            <ul>
                                <li><a href="http://act.com/products/act-emarketing">Email Marketing</a></li>
                                <li><a href="http://www.actaddons.com">Marketplace</a></li>
                                <li><a href="http://community.act.com" target="_blank">Community</a></li>
                                <li><a href="http://act.com/pricing">Pricing</a></li>
                                <li><a href="https://buy.act.com/en-US/trial/product/ActPremium/plan/Month">Free Trial</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h5>Act! Essentials</h5>
                            <ul>
                                <li><a href="https://mycloud.act.com/#/login" target="_blank">Login</a></li>
                                <li><a href="http://act.com/pricing/act-essentials">Pricing</a></li>
                                <li><a href="https://mycloud.act.com/signup" target="_blank">Free Trial</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <h5>Connect with Act!</h5>
                    <ul class="social">
                        <li><a class="linkedin" href="https://www.linkedin.com/groups/?gid=1914089" target="_blank"></a></li>
                        <li><a class="facebook" href="https://www.facebook.com/actcrm" target="_blank"></a></li>
                        <li><a class="twitter" href="https://twitter.com/actstory" target="_blank"></a></li>
                        <li><a class="youtube" href="https://www.youtube.com/user/ActStory" target="_blank"></a></li>
                </div>
            </div>
        </div>

        <div class="container disclaimers">
            <!-- add cms disclaimer section here -->
            <p class="copyright">
                &copy;2016 Swiftpage ACT! LLC. All rights reserved. Swiftpage, Act!, and the Swiftpage product
                and service names mentioned herein are registered trademarks or trademarks of Swiftpage ACT! LLC, or its
                affiliated entities. All other trademarks are property of their respective owners.
            </p>
        </div>

    </footer>

    <script src="~/Scripts/common.js"></script>

</body>
</html>
