*{box-sizing:border-box;}
.container{
    width:100%;
    max-width:1024px;
    margin:0 auto;
    clear:both;
    overflow:hidden;
}
.row{overflow:hidden;}
.row:before, .row:after {
    clear:both;
}
[class*='col-']{
    float:left;
    min-height:1px;
    width:100%;
}
[class*='col-'] img {
    max-width:100%;
    display:block;
    margin:-0 auto;
}
 
@media(min-width:768px) {
.col-1, .col-2{width:16.66666666666666667%}
.col-3{width:25%}
.col-4{width:33.33333333333333333%}
.col-5{width:41.66666666666666667%}
.col-6{width:50%}
.col-7{width:58.33333333333333333%}
.col-8{width:66.66666666666666667%}
.col-9{width:75%}
.col-10{width:83.33333333333333333%}
.col-11{width:91.66666666666666667%}
.col-12{width:100%}
.col-8 + .col-4{width:33.33333333333333333%}
.col-9{width:75%;}
.col-9 + .col-3{width:25%}
 
.pullLeft .col-2{width:33.33333333333333333%;}
.pullLeft .col-3{width:25%;}
.pullLeft .col-4{width:33.33333333333333333%;}
.pullLeft .col-2 + .col-4{width:66.66666666666666667%;}
.pullLeft .col-2 + .col-4 + .col-2{clear:both;}
 
.threeCol .col-4{width:100%;}
}
 
@media(min-width:1280px) {
.col-1{width:8.33333333333333333%}
 
.pullLeft .col-4{width:33.33333333333333333%}
.pullLeft .col-2 + .col-4{width:16.66666666666666667%}
.pullLeft .col-2 + .col-4 + .col-2{clear:unset;}
 
.threeCol .col-4{width:33.33333333333333333%}
}
