@{
    ViewBag.Title = "Become an Act! Certified Consultant";
}

<section class="bg_blue">
    <div class="container">
        <h1 class="text-center">Become an Act! Certified Consultant</h1>
    </div>
</section>

<section class="bg_white">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h2 class="black">Program Overview</h2>
                <p>Join the Act! Certified Consultant program to become one of a
select number who are authorized to sell, install, and support
Act! in North America. Build a business around Act! or add it to
your already successful consulting practice.</p>
                <p>Interested in becoming an Act! Certified Consultant? Speak with
one of our Business Partner Managers to learn more about the
program benefits and how you can become a successful Act!
Certified Consultant.</p>
                <h3 class="black">Benefits</h3>
                <ul>
                    <li>Priority Technical Support: Mon-Fri, 8:30 am – 8:30 pm EST.</li>
                    <li>Act! NFR (not for resale) licenses with every new release.</li>
                    <li>Access to the Act! online Community to get news about Act! products,
sales and marketing assistance, and technical collaboration. You can
even join newsgroups to communicate with others like yourself in the
Business Partner community.</li>
                    <li>Beta versions of new releases and an invitation to participate and
provide feedback to Act! during the development cycle.</li>
                    <li>Your name and contact information on www.act.com for visibility so
customers can find you easily.</li>
                    <li>Pre-sales Assistance</li>
                    <li>Product Training</li>
                    <li>Dedicated Partner Account Manager</li>
                </ul>
            </div>
            <div class="col-5">
                <div class="bg_green pad sidebar">
                    <h3 class="bold">Ready to get started?</h3>
                    <p>An Act! Business Partner Manager will contact you
to discuss further details about our program and
help you get on the road to success.</p>
                    <p class="text-center"><a href="http://www.act.com/partners/apply"><span class="button button_white">Apply Today</span></a></p>
                </div>
                <img src="~/Content/img/become-an-acc.png" class="sidebar" />
            </div>
        </div>
    </div>
</section>