@{
    ViewBag.Title = "Act! Development Partner Program";
}

<div class="outer bg_blue">
    <div class="container">
        <h1 class="text-center">Join The Development Partner Program</h1>
    </div>
</div>

<div class="outer">
    <div class="container inner">
        <div class="row">
            <div class="col-8">
                <h2>Get the SDK</h2>
                <p>Get your coding feet wet by exploring the Act! SDK. Complete
our questionnaire to get all the information you need to start
developing custom solutions for Act! You will receive code
samples, technical documents, and more.</p>
                <p>Email <a href="mailto:act.developers@swiftpage.com">act.developers@swiftpage.com</a> for information.</p>
            </div>
            <div class="col-4">
                <img />
            </div>
        </div>
    </div>
</div>

<div class="outer bg_grey">
    <div class="container inner">
        <div class="row">
            <div class="col-8">
                <h2>Become a Development Partner</h2>
                <p>
                    Sign up for our development partner program to receive all our
                    program materials. This program will provide resources to help
                    design and market your solutions. After approval, you will receive:
                </p>
                <ul>
                    <li>Complementary licenses.</li>
                    <li>
                        Access to SDK support.
                    </li>
                    <li>
                        Logos and Marketing material.
                    </li>
                    <li>
                        The ability to submit solution modules to our online marketplace.
                    </li>
                    <li>
                        Development updates on upcoming changes.
                    </li>
                    <li>
                        Advanced shipments of new releases.
                    </li>
                    <li>Invitation to partner events. (fees may apply)</li>
</ul>
                <p>Email <a href="mailto:act.developers@swiftpage.com">act.developers@swiftpage.com</a> for information.</p>
            </div>
            <div class="col-4">
                <img />
            </div>
        </div>
    </div>
</div>

<div class="outer bg_dark-grey">
    <div class="container inner">
        <h2 class="text-center">Find a Solution Module</h2>
        <p class="text-center">Looking to see what solutions are out there? <a href="http://www.actaddons.com" target="_blank">Visit the Act! Marketplace to learn more.</a>.</p>
    </div>
</div>